:host{
    display: block;
    height: 100%;
    overflow: auto;
}

a{
    text-align: left;
    font-size: x-large;
    color: blue;
    display: block;
    margin: 10px;
}

.active-link{
    color: magenta;
    font-weight: bold;
}