<p> </p>

<a routerLink="home" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact: true}">Home</a>
<a routerLink="ADMINISTRATOR" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact: true}">all companies</a>
<a routerLink="ADMINISTRATOR/customers-details" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact: true}">our customers</a>
<a routerLink="ADMINISTRATOR/add-company" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact: true}">Add Company</a>
<a routerLink="ADMINISTRATOR/add-customer" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact: true}"  >Add Customer</a>


<!-- <a routerLink="">Login</a> -->

<br>
<button (click)="logout()" class="btn btn-danger">Logout</button>
